<h1>List of Plants</h1>

<%= link_to "My Profile Page", user_path(@user) %><br>
<%= link_to "Create Plant", new_user_plant_path(:user_id) %><br>


<h2>Top 5 Most Liked Plants</h2>
<p>once likes are in place, sort by likes and only list top 5</p>

<% @plants.each do |plant| %>
<%= image_tag plant.img_url, alt: plant.name, size:'200' %><br>
<%= link_to "#{plant.name}", plant_path(plant)%><hr>
<%end%>
